services:
  edamicroecommerce.api:
    image: edamicroecommerce.api
    build:
      context: .
      dockerfile: src/EdaMicroEcommerce.Api/Dockerfile

  eda-microservices-postgres:
    image: postgres:15
    container_name: eda-micro-db
    environment:
      POSTGRES_USER: app-eda-micro-user
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: edamicrodb
    ports:
      - "5450:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:    
